@import '../../variables.scss';


.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navbar__links {
    display: flex;
    list-style: none;
    color: $grayishBlue;
    flex-direction: row;

    li {
        position: relative;
        padding: 30px;

        &:hover {
            color: $darkBlue;


        }

        &:hover::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 10%;
            background: linear-gradient(90deg, $limeGreen, $brightCyan);
            width: 80%;
            height: 4px;
        }
    }

}