@import '../../variables.scss';


.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    height: 80px;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navbar__logo {
    width: auto;
}

.navbar__links {
    display: flex;
    list-style: none;
    color: $grayishBlue;
    flex-direction: row;
    margin: 0px 5%;

    li {
        position: relative;
        padding: 30px 20px;
        transition: 0.15s all;


        &:hover {
            color: $darkBlue;
            cursor: pointer;
        }

        &:hover::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 10%;
            background: linear-gradient(90deg, $limeGreen, $brightCyan);
            width: 80%;
            height: 4px;
        }
    }

}

@media screen and (max-width: 1150px) {
    .navbar {
        padding: 0 10px;
    }

    .navbar__links {
        margin: 0px 15px;

        li {
            padding: 30px 10px;
        }
    }
}

@media screen and (max-width: 770px) {
    .navbar__links {
        display: none;
    }
}