@import '../../../variables.scss';


.container {
    border-radius: 10px;
    background-color: white;
    width: 20%;
    height: 500px;
    margin: 0px 20px;
}

.articleImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 250px;
}

.articleAuthor {
    font-size: 14px;
    color: $grayishBlue;
    padding: 10px 0px;
}

.articleHeader {
    color: $darkBlue;
    font-size: 22px;
    font-weight: 700;
}

.articleText {
    color: $grayishBlue;
    padding: 10px 0px;
}

.textBlock {
    padding: 15px;
}